absl-py
attrs
cffi
contourpy
cycler
flatbuffers
fonttools
jax
kiwisolver
matplotlib
mediapipe
ml-dtypes
numba
numpy==1.23.5
open3d
open3d-python
opencv-contrib-python
opencv-python
opt-einsum
packaging
pillow
protobuf
pycparser
pygame
pyparsing
python-dateutil
scipy
six
sounddevice
torch
